<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test Suite" parallel="methods" thread-count="2" verbose="1">
    <listeners>
        <listener class-name="com.gvha.base.TestListener" />
    </listeners>
    <parameter name="browserType" value="chrome" />
    <parameter name="appURL" value="https://google.com" />

    <test name="Admin Tests">
        <classes>
            <class name="com.gvha.tests.BasePageTest" />
            <class name="com.gvha.tests.SignInPageTest" />
            <class name="com.gvha.tests.CreateAccountTest" />
        </classes>
    </test>
</suite>